[submodule "extern/Isaac-GR00T"]
	path = extern/Isaac-GR00T
	url = https://github.com/NVIDIA/Isaac-GR00T.git
[submodule "extern/IsaacLab"]
	path = extern/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "extern/lerobot"]
	path = extern/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "extern/leisaac"]
	path = extern/leisaac
	url = https://github.com/bkubwimana/leisaac.git
