[submodule "extern/CogACT"]
	path = extern/CogACT
	url = https://github.com/microsoft/CogACT.git

[submodule "extern/visualnav-transformer"]
	path = extern/visualnav-transformer
	url = https://github.com/robodhruv/visualnav-transformer.git
[submodule "extern/visualnav-transformer"]
	path = extern/visualnav-transformer
	url = https://github.com/robodhruv/visualnav-transformer.git
